<%- include('layout/header') -%>

<div class="container">
    <h1>Sono la CONTATTI</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus explicabo reprehenderit cumque ipsam magnam sunt voluptatem commodi nihil error itaque aliquam, voluptates illo in fuga distinctio, officia nisi veniam.</p>
</div>

<%- include('layout/footer') -%>